<div class="row">
  <div class="large-12 medium-12 columns">
    <h1 class="artist-name"><%= @artist.name %></h1>
    <%= image_tag(@artist.pic_main(:large), class:"headerpic") %>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 columns">
    <%= image_tag(@artist.pic_thumb(:medium),class:"artistpic")%>
  </div>
  <div class="large-8 medium-8 columns">
    <h3> Meet the Artist </h3>
    <p class="bio"> <%= @artist.bio %> </p>
  </div>
</div>
<div class="row">
  <div class="large-12 artist-items">
    <% @items.each do |i| %>
      <%= image_tag(i.pic(:square), class:"artist-items") %>
    <% end %>
  </div>
</div>
